---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Declaracion from '../components/Declaracion.astro';
import Matricula from '../components/Matricula.astro';
import Operaciones from '../components/Opereaciones.astro';
import Galeria from '../components/Galeria.astro';
import Footer from '../components/Footer.astro';
import ShowRepo from '../components/ShowRepo.astro';

---

<Layout title="Welcome to Astro.">
<main>
	
	<Hero id='' className='h-screen '/>
	<Matricula id='matricula' className='h-auto  mt-[340px] sm:mt-0  rounded-3xl'/>	
	<ShowRepo  id='repos' className='h-[840px] sm:h-auto  bg-mainColor/20 '/>
	<Declaracion id='declaración' className='h-[840px] sm:h-auto  '/>

	<!-- <Operaciones id='operaciones' className='h-[400px] mt-0 mb-10 pt-10 sm:px-0 px-6'/> -->
	<!-- <Galeria id='galería' className='h-auto  pt-10 sm:px-0 px-6'/> -->
	<Footer id='footer' className=' mt-12  '/>
</main>
</Layout>

