---

import LayoutContainer from "./LayoutContainer.astro";

export interface Props {
  className:string
  id:string
}

const {className , id} = Astro.props


---

<LayoutContainer id={id} className={className} >
  <div class="max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16 animate-slide-in-bottom animate-delay-900 animate-duration-slow">
    <div class="max-w-xl mb-10">
      <h2 class="text-3xl font-bold sm:text-4xl">About me</h2>
    </div>
    <div class="   ">
    
     <p class=" w-screen sm:w-[60%] mx-auto text-pretty">I discovered my passion for programming when I was just 14 years old. At first, it was just a hobby, but I quickly became interested in web development and the creative possibilities it offered. Over the years, I continued to develop my skills and fell more in love with building websites.

      Now, as a software engineering student at Mutah University, I am pursuing my dream of becoming a professional programmer. I also work as a freelance web developer, which has allowed me to apply my skills in real-world projects and gain practical experience.
     
      Looking ahead, I'm excited about the future of programming and the endless opportunities it presents. I'm confident that my passion for the field, coupled with my skills, will enable me to make meaningful contributions to the industry in the years to come.
    </p>
    
  
    </div>
  </div>
  
</LayoutContainer>
 