---
import LayoutContainer from "./LayoutContainer.astro";
export interface Props {
  className: string;
  id: string;
}

const { className, id } = Astro.props;
const allImg = [
  '../../img2.jpg',
  '../../img4.jpg',
  '../../img8.jpg',
  '../../img9.jpg',
  '../../img7.jpg',
  '../../img6.jpg',
]

---

<LayoutContainer id={id} className={className}>
  <div class="max-w-xl mb-10">
    <h2 class="text-3xl font-bold sm:text-4xl">Galeria</h2>
  </div>

  <div class="grid  sm:grid-cols-3 gap-4">
    {allImg.map((img, i) => (
      <div
      
        class={`row-span-1 col-span-1  rounded-xl border-2 overflow-hidden  
          `}
      >
      <img class="w-full h-auto object-fill " src={img} alt=""/>
      </div>
    ))}
  </div>
</LayoutContainer>