---
import LayoutContainer from "./LayoutContainer.astro";
export interface Props {
  className: string;
  id: string;
}



const { className, id } = Astro.props;

---

<LayoutContainer id={id} className={className}>
  <section
    class="relative w-full h-full z-0 sm:bg-[url('../../banery.jpg')] bg-cover bg-no-repeat flex flex-row-reverse"
  >
    <div class="w-1/2 flex justify-center relative z-50 items-center ">
      
      <div class="w-[300px] h-[300px] bg-slate-800 rounded-lg rotate-45 ">
        <div class="w-full h-full bg-white mx-auto rounded-lg shadow transition shadow-lg  border-2 -translate-x-3 translate-y-2 border-black"></div>
      </div>
    </div>
    <div
      class="absolute flex z-0 w-full h-full bg-gradient-to-r from-mainWhite from-40%"
    >
      <div
        class="relative flex w-full h-full bg-whitde items-center pl-4 sm:pl-10 justify-between"
      >
        <div
          class="max-w-2xl flex flex-col pt-12 items-start text-start ltr:sm:text-left rtl:sm:text-right"
        >
        <h2>Hello, I'm</h2>
          <h1 class="text-4xl font-extrabold sm:text-5xl">
            Angel Bernechea

            <strong class="block font-extrabold text-importantText mt-2">
              Software Developer
            </strong>
          </h1>

          <p class="mt-8 max-w-sm text-start font-light">
            I'm a passionate junior Front-End Developer based in Lawrence MA , currently studying Software Engineering with a strong interest in UI/UX design. I'm committed to creating visually stunning and user-friendly websites, and I'm looking forward to exploring new opportunities to enhance my skills.
          </p>
          <div class="w-full px-6">
            <div class="mt-8 flex flex-wrap gap-4 text-center">
              <a
              class="group relative w-[200px] m-6 bg-slate-800 rounded-lg block h-full "
                href="#footer"
                >
                <p
                class="block w-[200px] rounded-lg bg-importantText px-12 py-3 text-sm font-medium text-textColor shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2"
             
                >Contactos</p>
                
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</LayoutContainer>
