---
export interface Props {
  className:string
  id:string
}

const { className ,id } = Astro.props
---
<section id={id} class={`max-w-screen-xl mx-auto pt-12 sm:pt-0  ${className}  `}>
 <slot/>
</section>