---
import { allRepo  } from '../provider/repositoryData'
import RepoCard from './RepoCard.astro'

import LayoutContainer from './LayoutContainer.astro'
export interface Props {
  className: string;
  id: string;
}

const { className, id } = Astro.props;
---
<LayoutContainer id={id} className={className}>
    <h2 class=" text-center text-2xl font-semibold ">All Repo</h2>
    <div class="flex flex-wrap w-[430px] sm:w-[990px] sm:h-[840px] mx-auto h-[620px] overflow-y-auto ">
        <!-- <RepoCard Repo={allRepo[0]}/> -->
        {
           allRepo.map(element =>(
            <RepoCard Repo={element}/>
            )) 
        }
    </div>

</LayoutContainer>
