---
import LayoutContainer from "./LayoutContainer.astro";
export interface Props {
  className:string
  id:string
}

const {className , id} = Astro.props
const data = [
  {
    title: "offer job opportunity?",
    dectails: "I am open to discussing potential job opportunities or collaborations. With experience in web development and software engineering, I am interested in roles that allow me to work on exciting and challenging projects. If you have a project or role in mind, feel free to reach out and let's discuss!",
  },
  {
    title: "Connect?",
    dectails: "Networking is key in the tech industry, and I'm always looking to meet new people and expand my professional circle. Whether you're a fellow developer, designer, or entrepreneur, I'd love to chat and learn more about your work. Let's grab a virtual coffee and see where the conversation takes us!",
  },
  {
    title: "Build something?",
    dectails: "I have a passion for developing innovative web applications that solve complex problems. Whether it's building a custom e-commerce platform or a cutting-edge web app, I'm always ready for a new challenge. Let's create something amazing together!",
  },
]


---

<LayoutContainer id={id} className={className} >
  <section class=" text">
    <div class="max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
      <div class="max-w-xl">
        <h2 class="text-3xl font-bold sm:text-4xl">Want To</h2>
  
        <p class="mt-4 text-normaltext">
          Ven y descubre un lugar donde la curiosidad y la creatividad de tus hijos florecerán, preparándolos para un futuro brillante. ¡Únete a nuestra comunidad educativa y sé testigo del increíble viaje de desarrollo de tus hijos!"  
        </p>
      </div>
  
      <div class="mt-8 grid grid-cols-1 gap-8 md:mt-6 md:grid-cols-2 md:gap-12 lg:grid-cols-3">
        
        {
          data.map(info =>(
          <div class="flex items-start gap-4">
          <span class="shrink-0 rounded-lg bg-gray-800/60 p-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 18.5l-3 -1.5l-6 3v-13l6 -3l6 3l6 -3v7.5" /><path d="M9 4v13" /><path d="M15 7v5.5" /><path d="M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z" /><path d="M19 18v.01" /></svg>
          </span>
  
          <div>
            <h2 class="text-lg font-bold"> {info.title}</h2>
  
            <p class="mt-1 text-sm text-normaltext">
              {info.dectails} </p>
          </div>
        </div>
          ))
        }
    
      </div>
    </div>
  </section>
</LayoutContainer>
